.btn-custom {
  display: inline-block;
  border: 1px solid white;
  outline: none;
  background-color: rgb(37, 37, 37);
  height: 45px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-family: iran;
  &:hover {
    background-color: white;
    border-color: black;
    color: black;
  }
}
