.btn-custom {
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  background-color: rgb(37, 37, 37);
  height: 45px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-family: iran;
  &:hover {
    background-color: white;
    border-color: black;
    color: black;
  }
  &.btn-google {
    background-color: #4285f4;
    border-color: white;
    &:hover {
      color: #357ae8;
      background-color: white;
      border-color: #357ae8;
    }
  }
}
